@charset "UTF-8";

* {margin:0;padding:0;box-sizing: border-box;}

body {

    font-family: Arial, Helvetica, sans-serif;
    background-color: #e6e6e6;
}

div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#button-mode {
    padding: 25px 100px;
    border-radius: 35px;
    border-color: transparent;
    font-size: 2em;
    background-color: #313131;
    color: #83aaff;
    box-shadow: 2px 2px 25px #0051ff;
    font-weight: bolder;
    transition-property: background-color transform padding border-radius;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

#button-mode:hover {
    cursor: pointer;
    background-color: #161616;
    color: #6888cc;
    box-shadow: 2px 2px 25px #003ec4;
    transform: rotate(2deg);
    border-radius: 45px;
    
}